body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
}

h1 {
    background: #000;
    color: white;
    padding: 10px;
}

.page {
    display: none;
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 360px;
    box-shadow: 0 0 10px gray;
    border-radius: 6px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

button {
    width: 90%;
    padding: 8px;
    margin: 6px 0;
    background-color: #28a745; /* GREEN */
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

