body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
}

h1 {
    background: #000;
    color: white;
    padding: 10px;
}

.page {
    display: none;
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 360px;
    box-shadow: 0 0 10px gray;
    border-radius: 6px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

button {
    width: 90%;
    padding: 8px;
    margin: 6px 0;
    background-color: #28a745; /* GREEN */
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.box {
    width: 600px;
    background: #d9d9d9;
    padding: 25px;
    border-radius: 8px;
    margin: auto;
}

.title {
    background: #a9c7e8;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.row label {
    width: 120px;
    background: #4472c4;
    color: white;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
}

.row input,
.row select {
    flex: 1;
    margin-left: 20px;
    padding: 8px;
    border-radius: 6px;
    border: none;
}

.primary {
    background: #4472c4;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}